<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Working Hours Report" | translate }}</ion-title>
    <ion-buttons end *ngIf="igiReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #ef4136;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
        <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
          <ion-icon name="custom-excel"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{
      "Select Vehicle" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getIgnitiondevice(selectedVehicle)" [isMultiple]="true">
    </select-searchable>
  </ion-item> -->

  <ion-list>
    <ion-item style="height: 45px; background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">{{
        "Select Vehicle" | translate
      }}</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
        itemTextField="Device_Name" [canSearch]="true" (onChange)="getDaywisedevice(selectedVehicle)"
        [isMultiple]="true">
      </select-searchable>
    </ion-item>
  </ion-list>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">Today</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">Yesterday</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">Week</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">Month</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getDaywiseReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of daywiseReportData; let i = index">
      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/car_blue_icon.png" style="
              margin-top: -10px;
              width: 40px;
              height: 40px;" />
          </ion-col>
          <ion-col col-5>
            <p style="
              color:black;
              font-size:16px;
              margin: 0px;">
              {{ item.VRN }}
            </p>
          </ion-col>
          <ion-col col-4>
            <p style="
              text-align: center;
              font-size: 11px;
              color:#11c1f3;
              font-weight:bold;">
              {{item.Date}}
            </p>
          </ion-col>
        </ion-row>
     

        <ion-row style="margin-top:2%;">
          <ion-col col-4>
            <p style="
              color:gray;
              font-size:11px;
              font-weight:400;">
              {{ item.AddedValue | number: "1.0-2" }}
            </p>
  
            <p style="
            font-size: 11px;
            color:#53ab53;
            font-weight:bold;">
              {{'Engine On Time' }}
            </p>
          </ion-col>
          <ion-col col-4>
            <p style="
              color:gray;
              font-size:11px;
              font-weight:400;
              margin-left: 8px;">
              {{ item['Stoppage Time'] | number: "1.0-2" }}
            </p>
  
            <p style="
            font-size: 11px;
            color:red;
            font-weight:bold;
            margin-left: 8px;">
              {{'Engine Off Time'}}
            </p>
          </ion-col>
          <ion-col col-4>
            <p style="
              color:gray;
              font-size:11px;
              font-weight:400;
              margin-left: 8px;">
              {{ item.WorkingDuration | number: "1.0-2" }}
            </p>
  
            <p style="
            font-size: 11px;
            color:#009688;
            font-weight:bold;
            margin-left: 8px;">
              {{'Working Duration'}}
            </p>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-1>
            <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>
          </ion-col>
          <ion-col col-11 (onCreate)="start_address(ignitationdata, i)" style="font-size: 0.8em;">
            <div class="overme">
              {{ ignitationdata.StartLocation }}
            </div>
          </ion-col>
        </ion-row> -->
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col style="text-align: center; border-right: 1px solid white; padding: 0px !important">
        <p style="color: white; margin:0px; padding:0px">
          {{ TotalWorkingHours | number : '1.0-2' }}
        </p>
        <p style="color: white; margin:0px; padding:0px">
          {{ "Total Working Hours" | translate }} 
        </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>