<ion-icon name="close" style="font-size: 3em; color: white;float: right; padding-right: 11px;" (click)="dismiss()">
</ion-icon>

<div class="mainDiv">
    <div class="secondDiv">
        <ion-card>
            <ion-card-header
                style="text-align: center; background-color: tomato; color: white; font-weight: bold; font-size: 20spx;">
                NearBy</ion-card-header>
            <ion-list>
                <ion-item (click)="onClick('atm')">
                    <img src="assets/imgs/nearBy/deposit.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">ATMs</ion-label>
                </ion-item>
                <ion-item (click)="onClick('petrol pumps')">
                    <img src="assets/imgs/nearBy/petrol-pump.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">Petrol Pumps</ion-label>
                </ion-item>
                <ion-item (click)="onClick('hospitals')">
                    <img src="assets/imgs/nearBy/hospital.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">Hospitals</ion-label>
                </ion-item>
                <ion-item (click)="onClick('police stations')">
                    <img src="assets/imgs/nearBy/police-station.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">Police Stations</ion-label>
                </ion-item>
                <ion-item (click)="onClick('service points')">
                    <img src="assets/imgs/nearBy/call-center-agent.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">Service Points</ion-label>
                </ion-item>
                <ion-item (click)="onClick('restaurants')">
                    <img src="assets/imgs/nearBy/store.png" style="width: 25px;" item-start />
                    <ion-label style="margin-left: 10px; margin-bottom: 8px;">Restaurants</ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
</div>