
<ion-content padding style="background: #a60033;">
  <ion-row style="padding-top: 150px;">
    <ion-col col-3></ion-col>
    <ion-col col-6>
      <img src="assets/imgs/car_stealing.png" style="height: 150px; width: 180px;" />
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>

  <div>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8 style="text-align: center;">
        <p style="margin: 0px; font-size: 1.8em; color: white; font-weight: 600;">Parking Violation</p>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row style="padding-top: 16px;">
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <!-- <button ion-button round block color="gpsc">Lock Engine</button> -->
        <button ion-button round block color="light" (click)="dismiss()">Exit</button>

      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button round block color="gpsc">View</button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button round block color="light" (click)="dismiss()">Exit</button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row> -->
  </div>
</ion-content>