page-group-modal{
    .daysSelected{
        background:#009688;
        color:#ffffff;
         border: 1px solid #fff;
      }
      .daysDeselected{
         background:#ffffff;
        color:#11c1f3;
        border: 1px solid #009688;
      }
      .logitem {
        background-color: transparent;
        padding-bottom: 5px;
    }
    .logitem1 {
        background-color: transparent;

        p {
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }
}
