.introjs-helperLayer {
  opacity: 0.1;
}
page-add-devices {
  .item-ios [item-right],
  .item-ios [item-end] {
    margin: 8px 0px;
  }
  .colStyle {
    height: 4.4rem;
    background-color: #696d74;
    // background-image: linear-gradient(to left bottom, #ef4136, #c0002d, #a60033, #8b0935, #6f1133);
    padding: 0px;
    text-align: center;
    position: relative;
  }
  .trd {
    // border: 2px solid red;
    width: 50px;
    margin-top: -56px;
    margin-left: -17px;
    overflow: hidden;
  }

  .divc {
    width: 20px;
    border-width: 50px;
    border-color: transparent transparent #8b0935 transparent;
    border-style: solid;
    left: 150;
  }

  ion-content.ion-bottom-drawer-scrollable-content {
    // background: rgba(255, 0, 0, 0);
    background: #f2f2f2;
    border-radius: 15px;
  }

  ion-bottom-drawer {
    border-radius: 15px;
    border: solid 2px lightgray;
  }

  #content {
    width: 100%;
    // background-color: red;
    // padding-top: 5px;
    // border-radius: 15px;
  }

  .segment-ios .segment-button {
    line-height: 1rem;
  }
  .seg {
    .segment-md-gpsc .segment-button.activated,
    .segment-md-gpsc .segment-button.segment-activated {
      border-color: #42cf6c;
      // color: #ef4136;
      opacity: 1;
    }
  }

  .itemStyle {
    .item-ios,
    .item-md {
      padding: 0px !important;
    }
    .label-ios,
    .label-md {
      margin: 0px !important;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner {
      padding: 0px !important;
      margin: 0px !important;
    }
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding-right: 0px;
    // border-bottom: 1px solid #dedede;
  }

  .ava {
    min-width: 0px;
    min-height: 0px;
    img {
      height: 22px;
      width: 28px;
    }
  }

  .colSt1 {
    height: 4.4rem;
    background-image: linear-gradient(to right top, #00b9f2, #02a3d3, #068eb6, #0c7899, #0f647e);
    padding: 0px;
    text-align: center;
    position: relative;
  }

  // .colSt123 {
  //   height: 1em;
  //   // height: 4.4rem;
  //   border-style: solid;
  //   border-bottom-width: 45px;
  //   border-left-width: 75px;
  //   border-color: transparent transparent #a60033 transparent;
  //   padding: 0px;
  //   text-align: center;
  //   position: relative;
  //   margin-top: -1px;
  //   // margin-right: -3px;
  // }
  .colSt123 {
    // height: 1em;
    // background: url("../assets/imgs/colbg.jpeg") no-repeat center center;
    // background: url("../assets/imgs/colbg.jpeg") no-repeat center center;
    background: url("../assets/imgs/colbg.jpeg") no-repeat;
    background-size: cover;

    // height: 4.4rem;
    // border-style: solid;
    // border-bottom-width: 45px;
    // border-left-width: 75px;
    // border-color: transparent transparent #a60033 transparent;
    padding: 0px;
    // text-align: center;
    position: relative;
    margin-top: -1px;
    // margin-right: -3px;
  }

  .colSt1Copy {
    height: 4.4rem;
    // background-image: linear-gradient(to left bottom, #ef4136, #c0002d, #a60033, #8b0935, #6f1133);
    padding: 0px;
    text-align: center;
    position: relative;
  }

  .colSt2 {
    height: 3rem;
    // height: 4.4rem;
    // width: 80%;
    // padding: 0px;
  }

  .overme {
    // padding-top: 8px;
    padding-right: 2px;
    // width: 180px;
    line-height: normal;
    overflow: hidden;
    font-size: 10px;
    // color: white;
    color: #696666;
    /*The problematic part is below*/
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .overme {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .item-ios [item-end],
  .item-md [item-end] {
    margin-bottom: 20px;
  }
}
